// colors

$off_black: #20222b;
$off_white: #a5afd7;
$dark_blue: #333745;
$purple: #8357c5;
$blue: #3c4251;
$light-blue: #464b5e;


// spacing
// m-size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;